  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(102, 44, 44);
  }
  main{

    width: 75%;
    margin: 50px auto;
    border:1px solid rgb(12, 2, 2); 
    display: grid;color: white;
    grid-template-rows: 60px 100px 200px 100px;
    grid-template-columns: repeat(3, 1fr) 100px;
    grid-gap:20px;
  }
  .box1{background-color: black;grid-column: 1/-1;}

  .box2{background-color: rgb(19, 179, 13);}
  .box3{background-color: rgb(234, 250, 9);}
  .box4{background-color: rgb(223, 29, 29);}
  .box5{background-color: rgb(233, 24, 146); grid-row: 2/4;grid-column: 4/5;}
  .box6{background-color: rgb(25, 38, 219);grid-column: 1/4;}
  .box7{background-color: rgb(31, 170, 212);grid-column: 1/-1;}